<div class="container-fluid">

  <div class="d-flex justify-content-between align-items-center mt-3">
    <!--  -->
    <div class="form-group  w-25 form-inline" >
      <!-- Full text search: -->
      <input placeholder="Search here" class="form-control" type="text" (keyup)="changeFn($event)" name="searchTerm"
        [(ngModel)]="serchingParmeter" />
      <!-- <span class="ml-3" >Loading...</span> -->
    </div>
  
    <div class="form-group form-inline datatable-w30 text-end" >
      <select class="btn ml-1 active touched" style="width: auto;margin-right: 3%; border: 1px solid #ced4da;" (change)="pageChane()"
        [(ngModel)]="pageSize">
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
      </select>
      <button type="button" *ngIf="permission[0]==true" style="margin-right: 2%;margin-left: 2%;"
        (click)="buttonEvent('add')" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
      <button type="button" *ngIf="permission[1]==true" style="margin-right: 2%;" (click)="buttonEvent('edit')"
        class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      <button type="button" *ngIf="permission[2]==true" class="btn btn-danger" (click)="buttonEvent('delete')"><i
          class="fa fa-trash-o" aria-hidden="true"></i></button>
    </div>
  
    <!--  -->
  </div>



</div>




<div class="container-fluid">
  <div style="height: 20px;"></div>
  <!-- <input type="text" style="float: right;" name="serch" id="serch" (keyup)="changeFn($event)"  [(ngModel)]="serchingParmeter"> -->
  <div style="height: 50vh;overflow-y: auto;width: 100%;">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col" [style.width.%]="column?.width" class="sorting" *ngFor="let column of columns,let i = index;"
            (click)="sorting(column?.search)">{{column?.header}}
            <i *ngIf="sortKey==column?.search && sortType=='DESC'" style="float: right;color: #2b3035;"
              class='fa fa-sort-alpha-desc'></i>
            <i *ngIf="sortKey==column?.search && sortType=='ASC'" style="float: right;color: #2b3035;"
              class='fa fa-sort-alpha-asc'></i>
            <i *ngIf="sortKey!=column?.search" style="float: right;color: #e5e0e0;" class="fa fa-sort"
              aria-hidden="true"></i>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of content;let I=index">
          <td scope="col" [style.width.%]="column?.width" *ngFor="let column of columns">
            <input type="radio" (click)="radioButton(row)" id="name" name="name" *ngIf="column?.type=='radio'">
            <div *ngIf="column?.type!='radio'">
              {{row[column.value]}}
            </div>
          </td>


        </tr>
      </tbody>
    </table>
  </div>
  <div style="height: 10px;"></div>
  <app-pagination [last]="dataset?.last" [frist]="dataset?.first" (chnagePageNo)="chnagePageNo($event)"
    [currentPage]="dataset?.pageNumber" [pageCount]="dataset?.totalPages"></app-pagination>

</div>