<app-leftmenu></app-leftmenu>
<!-- Main body part  --> 
<div class="page">
    <app-header></app-header>
    <div class="section-body  fixNavMargin">
        <div class="container-fluid">

            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" href="#">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a>
                    </li>

                </ul>
                <!-- <div class="header-action">
                    <button type="button" class="btn btn-primary m-3"><i class="fe fe-plus mr-2"></i>Add</button>
                </div> -->
            </div>
            <!--product family-->
            <form [formGroup]="productFamily" (ngSubmit)="submit()">
            <div class="card card-height">
                <div class="card-header pf-head">
                    <h3 class="card-title ">PRODUCT FAMILY</h3>
                </div>
                <div class="card-body">
                    <div class="row productfamily ">
                        <div class="col-md-8">
                            <div class="row ">
                                <div class=" form-group col-md-4">
                                    <label class="form-label ">Product Family </label>
                                </div>
                                <div class=" form-group col-md-8">
                                    <input name="" type="text" class="form-control" value="" formControlName="productFamily">
                                    <div *ngIf="productFamilyName?.invalid && productFamilyName?.touched">
                                        <span *ngIf="productFamilyName?.errors?.required">Please Enter Product Family</span>
                                        <span *ngIf="productFamilyName?.errors?.maxlength">Character exceed max limit 400</span>
                                        <span *ngIf="productFamilyName?.errors?.isChar">Invalid input. Only character allowed </span>
                                        <span *ngIf="productFamilyName?.errors?.pattern ">Field cant be empty</span>
                                     </div>
                                </div>
                            </div>
                        </div>


             

                        
                        <div class="col-md-8">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label text-">Description</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea rows="3" class="form-control" placeholder="Here can be your description"
                                        value="Mike" formControlName="description"></textarea>
                                        <div *ngIf="description?.invalid && description?.touched">
                                            <span *ngIf="description?.errors?.required">Please Enter Product Family description</span>
                                            <span *ngIf="description?.errors?.maxlength">Character exceed max limit 30</span>
                                            <span *ngIf="description?.errors?.isChar">Invalid input. Only character allowed </span>
                                            <span *ngIf="description?.errors?.pattern ">Field cant be empty</span>
                                         </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label">Product Family Icon</label>

                                </div>
                                <div class="col-md-8">

                                    <!-- <label class="form-label" for="customFile"></label>
                                    <input type="file" class="form-control" id="customFile" /> -->
                                    <input type="file" #file name="profile" [(ngModel)]="productFamilyIcons"  [ngModelOptions]="{standalone: true}" (change)="onFileSelect($event)" />
                                                   
                                    <img  *ngIf="productFamilyIcons!='' && productFamilyIcons!=null && productFamilyIcons!=undefined"  [src]="productFamilyIcons" class="selected-image" >

                                </div>
                            </div>
                        </div>

                
                    </div>
                    <button [disabled]="productFamily.invalid" type="submit" class="btn btn-primary ">{{actionBtn}}</button>
                    <button type="button" (click)="resetForm()" class="btn btn-primary ml-3 ">Reset</button>
                </div>
            </div>
            </form>
        </div>
 
        <!-- <pre>
            {{productFamily.value | json}}
            {{productFamily.invalid}}
         </pre> -->
        <!---product family-->
    </div>
</div>

<!-- <app-footer></app-footer> -->

