<div class="section-body  fixNavMargin">
    <div class="container-fluid">

        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link" href="#">
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="#"></a>
                </li>

            </ul>
            <!-- <div class="header-action">
                <button type="button" class="btn btn-primary m-3"><i class="fe fe-plus mr-2"></i>Add</button>
            </div> -->
        </div>
        <!--product family-->
        <form [formGroup]="changePassword" (ngSubmit)="submit()">
        <div class="card card-height">
            <div class="card-header pf-head">
                <h3 class="card-title ">Change Password</h3>
            </div>
            <div class="card-body">
                <div class="row productfamily ">
         

             

                    <div class="col-md-8">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">Old Password </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input name="" type="password" class="form-control mandatory" value="" formControlName="password">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">New Password </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input name="" type="password" class="form-control mandatory" value="" formControlName="newPassword">
                            </div>
                        </div>
                    </div>
               
                    <div class="col-md-8">
                        <div class="row ">
                            <div class=" form-group col-md-4">
                                <label class="form-label ">Confirm New Password </label>
                            </div>
                            <div class=" form-group col-md-8">
                                <input name="" type="password" class="form-control mandatory" value="" formControlName="confirmPassword">
                            </div>
                            <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                        </div>
                    </div>
         

                   

                 

            
                </div>
                <button  type="submit" class="btn btn-primary ">submit</button>
                <button type="reset"  class="btn btn-primary ml-3 ">Reset</button>
            </div>
            <!-- [disabled]="changePassword.invalid" -->
        </div>
        </form>
        <!-- <pre>
            {{changePassword.value | json}}
           
         </pre> -->
    </div>



   
    <!---product family-->
</div>