
    <div class="section-body  fixNavMargin">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" href="#">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a>
                    </li>

                </ul>
                <!-- <div class="header-action">
                    <button type="button" class="btn btn-primary m-3"><i class="fe fe-plus mr-2"></i>Add</button>
                </div> -->
            </div>
       
  
                


                <!--product entity-->
                <form [formGroup]="createRole" (ngSubmit)="submit()">
                <div class="card card-height">
                    <div class="card-header pf-head">
                        <h3 class="card-title ">Create Roles</h3>
                    </div>
                    <div class="card-body">
                        <div class="row productfamily ">
         
          
                  
             
              
                            <!-- <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"> ID</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control mandatory" id="mname" name="middle-name"
                                        formControlName="id">
                                      
                                    </div>
                                </div>
                            </div> -->

          
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"> Name</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control mandatory" id="lname" name="last-name"
                                        formControlName="name">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label"> Description</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control mandatory" id="lname" name="last-name"
                                        formControlName="description">
                                    </div>
                                </div>
                            </div>

              
                         

                        </div>
                      

                <button type="submit" class="btn btn-primary ">Save</button>
                            <button type="button" class="btn btn-primary ml-3 " >Reset</button>

                   

                    </div>
                </div>
                </form>



                <!-- </div> -->
                <!-- <app-footer></app-footer> -->

          

            
        

        </div>
    </div>


  