
    <div class="section-body  fixNavMargin">
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link ">
                            </a></li>
                        <li class="nav-item"><a class="nav-link">
                            </a></li>
                    </ul>
                    <!-- <div class="header-action">
                    <button type="button" class="btn btn-primary m-3"><i class="fe fe-plus mr-2"></i>Add</button>
                </div> -->
                </div>

                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h3 class="card-title prod-name">ENTITY GROUP</h3>
                        <!-- <a  [routerLink]="['/entity-group']"> <button  type="button" class="btn btn-primary m-3">
                            <i class="fe fe-plus mr-2" ></i>Add</button></a> -->
                    </div>

                    <app-datatable  [permission]="permission" (buttonEvent1)="buttonEvent1($event)" (changePageSortSearch)="changePageSortSearch($event)"  
                    [dataset]="data">
        <app-column [search]="x.search_key"  [cssClass]="" [type]="x.type" *ngFor="let x of headerList" 
                  [value]="x.value" [width]="x.width"   [header]="x.header"></app-column> 
       </app-datatable>
               
                </div>

            

                
        </div>
         
            <!-- <app-footer></app-footer> -->
        </div>

    </div>  