<app-leftmenu></app-leftmenu>
<!-- Main body part  -->
<div class="page">
    <app-header></app-header>
    <div class="section-body fixNavMargin">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link" href="#">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a>
                    </li>

                </ul>
                <!-- <div class="header-action">
                    <button type="button" class="btn btn-primary m-3"><i class="fe fe-plus mr-2"></i>Add</button>
                </div> -->
            </div>
            <!-- </div> -->
            <!-- </div> -->

            <!---template tab-->

            <form [formGroup]="AddTabs" #Formdata (ngSubmit)="submit()">
                <div class="card card-height">
                    <div class="card-header d-flex justify-content-between">
                        <h3 class="card-title prod-name">PRODUCT TEMPLATE TAB</h3>
                        <!-- <button type="button" class="btn btn-primary m-3"><i class="fe fe-plus mr-2"></i>Add</button> -->
                    </div>
                    <div class="card-body">
                        <div class="row productfamily ">
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class=" form-group col-md-4">
                                        <label class="form-label ">Product Template</label>
                                    </div>
                                    <div class=" form-group col-md-8">
                                        <div class="form-group">
                                            <select #mySelect (change)="onOptionsSelected(mySelect.value)"
                                                class="form-control mandatory" formControlName="productEntityTemplateId"
                                                [disabled]=true>
                                                <option value="">Select --</option>
                                                <option aria-placeholder="select"
                                                    value="{{productline.productEntityTemplateId}}"
                                                    *ngFor="let productline of allProductEntityTempidd">
                                                    {{productline.productEntityTemplateName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Product -->
                            <div class="col-md-12">
                                <div class="row mb-3">
                                  
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="radio-section">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input"
                                                            name="type" value="Tab" formControlName="type"
                                                            (click)="checkForm('Tab')">
                                                        <div class="custom-control-label add-tab ">Add Tab</div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="radio-section">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input"
                                                            name="type" value="Section" formControlName="type"
                                                            (click)="checkForm('Section')">
                                                        <div class="custom-control-label add-tab">Add Section</div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--3 block-->

                            <div class="addtab-sec" *ngIf="tabForm">
                                <div class="col-md-12">
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label class="form-label">Tab Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" value="" formControlName="section">
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="col-md-12">
                                    <!-- Current Occupation months -->
                                    <div class="row mb-2">
                                        <label for="lead-owner d-flex align-items-center" class="col-md-4 ">Sequence </label>
                                        <div class="col-sm-7">
                                            <div class="input-group mb-2 field-width">
                                                <input type="text" class="form-control mandatory " formControlName="sequenceId">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" (click)=" submit()"> {{actionBtn}} </button>
            
                           
                            </div>

                        <div class="addtab-sec w-100" *ngIf="sectionForm">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Parent ID </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select  class="form-control mandatory" formControlName="parentId">
                                            <option value="">Select --</option>
                                            <option   value="{{tabids.productEntityTemplateSectionId}}" *ngFor="let tabids of tabid">{{tabids.section}}</option>
                                        </select>  
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Section Name </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control mandatory" formControlName="section">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Screen Layout  </label>
                                    </div>
                                    <div class="col-md-8">
                                        <select id="datalistOptions84" class="form-control mandatory"  formControlName="screenLayout" >
                                            <option value="">Select --</option>
                                            <option value="SINGLE COLUMN"  >Single column</option>
                                            <option value="DOUBLE COLUMN" >Double column</option>
                                        
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Sequence  </label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control mandatory" formControlName="sequenceId">
                                    </div>
                                </div>
                            </div>
                        
                            <button type="button" class="btn btn-primary" (click)="submit()">{{actionBtn}} </button>
                        </div>

                 </div>

                
                 </div>








                    <!--table-->
                    <app-datatable  [permission]="permission" (buttonEvent1)="buttonEvent1($event)" (changePageSortSearch)="changePageSortSearch($event)"  
                    [dataset]="data">
        <app-column [search]="x.search_key"  [cssClass]="" [type]="x.type" *ngFor="let x of headerList" 
                  [value]="x.value" [width]="x.width"   [header]="x.header"></app-column> 
       </app-datatable>
                </div>
     
        </form>

    </div>


    <pre>
        {{AddTabs.value | json}}
    </pre>